* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.header {
  height: 90vh; /* Makes the header fill the viewport height */
  background-image: 
    linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("house.avif"); /* Make sure this path is correct */
  background-size: cover; /* Ensures image covers the header area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

