:root {
    --color-gray: gray;
    --color-gray: #FAF3E1;
    --font-primary: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, white, #FAF3E1);
    font-family: var(--font-primary);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    display: flex;
    height: 70px;
    padding-left: 30px;
    padding-top: 20px;
}

.nav-bar {}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 80px;
    padding-right: 40px;
    color: grey;
}


.list-item-1:hover {
    background-color: black;

}

.list-item {
    padding-top: 20px;
}

.list-item i:hover {}

.list-item-1:hover {
    background-color: black;
}

.list-item-1 {
    border-radius: 40px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 30px;
    border-style: solid;
    cursor: pointer;
}

.container {
    gap: 20px;
    margin-top: 100px;
    margin-left: 40px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.heading {
    color: gray;
    font-size: 15px;
    font-weight: 100;
}

h6 {
    animation-name: moveText;
    animation-duration: 2s;
}

@keyframes moveText {
    0% {
        transform: translateX(-200px);
    }

    30% {
        transform: translateX(100px);
    }

    /* 50%{
        transform: translateX(-100px)rotate(90deg);
    } */
}

.big-heading {
    color: gray;
    font-size: 50px;
    color: #494a3a;
}

.btn:hover {}

.btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 50px;
}

.btn button:hover {
    background-color: #494a3a;
    transition: 2s;
}

.btn button {
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
}

.img img {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.experties {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 25px;
    margin: 40px;
    color: #494a3a;
}

#verticle-line {
    width: 1px;
    height: 60px;
    background-color: black;
}

.container-2 {
    border-radius: 20px;
    height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #494a3a;
    display: flex;
    gap: 200px;
    align-items: center;

}

.section {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
}

.section h2 {
    font-size: 50px;
    font-weight: 500;
}


.list-item-4 {
    color: white;
    font-size: 20px;
}

.list-item-4 i {
    padding-left: 400px;
}

.question .list-item-4 {
    padding: 10px;
}

.btn-1:hover {
    background-color: #494a3a;
}

.btn-1 {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 40px;

}

.features span {
    font-size: 50px;
    color: #494a3a;
}


.img-1 {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 40px;
}

.img-1 img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 95vh;
    border-radius: 30px;
}


.box {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    gap: 280px;
}


.urban-green span {
    line-height: 60px;
    font-size: 35px;
}



.urban-green ul {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
}

.Bespoken-Media span {
    line-height: 60px;
    font-size: 35px;
}

.Bespoken-Media ul {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
}

.urban-green li {
    background-color: #e2e1d6;
    padding: 10px;
    border-radius: 30px;
}

.Bespoken-Media li {
    background-color: #e2e1d6;
    padding: 10px;
    border-radius: 30px;
}

.urban-green p {
    color: #494a3a;
    font-weight: 600;
}

.Bespoken-Media p {
    color: #494a3a;
    font-weight: 600;
}


.box-1 {
    background-color: #e2e1d6;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
}

.para {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 30px;
}

.para p {
    line-height: 40px;
    font-weight: 600;
}

.icon {
    padding-left: 20px;

}

.icon p {
    padding: 5px;
    color: #494a3a;
    font-weight: 500;
    gap: 30px;
}

.icon-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 30px;
    color: white;
}

.icon-1 i {
    background-color: #494a3a;
    padding: 20px;
    padding-right: 30px;
    border-radius: 60%;
}

.dream-team {
    border: 2px solid black;
    margin: 40px;
    margin-bottom: 80px;
    border-radius: 20px;
}

.team {
    margin: 20px;
}

.team h1 {
    font-weight: 500;
    font-size: 40px;
}

.team p {
    padding-top: 20px;
    font-weight: 400;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px  ;
}


.about img {
    height: 50vh;
    /* margin: 20px; */
    border-radius: 20px;
}

.about-list span {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
}

.about-list h4 {
    font-weight: 300;
    padding-top: 10px;
}

.about-list ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding-top: 10px;
}

.about-list li {
    background-color: #e2e1d6;
    padding: 10px;
    border-radius: 20px;
    font-weight: 100;
}

.about-list p {
    padding: 20px;
    color: #494a3a;
}

.about-list button:hover {
    background-color: #494a3a;
}

.about-list button {
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e1d6;
    border-radius: 30px;
}

.footer img {
    height: 8vh;
    margin: 20px;
}

.footer ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-right: 10px;
}

#verticle-line {
    width: 1px;
    height: 20px;
    background-color: black;
}